<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{site.title}}</title>
  <meta name="description" content="{{site.description}}">
  <link rel="stylesheet" href="styles/main.css">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&amp;subset=latin-ext" rel="stylesheet">
</head>

<body class="template-home">

  <div class="page-content">

    <div class="wrapper">

      <section>
        <h1 class="title">{{site.title}}</h1>
        <p class="lede">{{site.description}}</p>

      <div class="tags">
        <ul class="tag">
          <li class="tag__item">
            <input class="tag__item__checkbox show-all" type="checkbox" value="show-all" checked id="show-all"/>
            <label class="tag__item__label" for="show-all">Show All</label>
          </li>
          <li class="tag__item">
            <input class="tag__item__checkbox" type="checkbox" value="frontend" id="frontend" />
            <label class="tag__item__label" for="frontend">frontend</label>
          </li>
          <li class="tag__item">
            <input class="tag__item__checkbox" type="checkbox" value="backend" id="backend" />
            <label class="tag__item__label" for="backend">backend</label>
          </li>
          <li class="tag__item">
            <input class="tag__item__checkbox" type="checkbox" value="security" id="security" />
            <label class="tag__item__label" for="security">security</label>
          </li>
          <li class="tag__item">
            <input class="tag__item__checkbox" type="checkbox" value="design" id="design" />
            <label class="tag__item__label" for="design">design</label>
          </li>
          <li class="tag__item">
            <input class="tag__item__checkbox" type="checkbox" value="process" id="process" />
            <label class="tag__item__label" for="process">process</label>
          </li>
          <li class="tag__item">
            <input class="tag__item__checkbox" type="checkbox" value="business" id="business" />
            <label class="tag__item__label" for="business">business</label>
          </li>
        </ul>
      </div>
      </section>

      <section>
        <ul class="resources resource-type-article">
          {% for bookmark in site.bookmarks %}
          <li class="resource{% if bookmark.tags %}{% for tags in bookmark.tags %} {{tags}}{% endfor %}{% endif %}" {% if bookmark.tags %}data-tags="{% for tags in bookmark.tags %} {{tags}}{% endfor %}"{% endif %}>
            <span class="resource__description">
              <a href="{{bookmark.link}}" class="resource__description__url">
                <h2 class="resource__title">{{bookmark.title}}</h2>
              </a>
              <span class="resource__description__content">
              {{bookmark.contents}}
              </span>
              {% if bookmark.tags %}
              <ul class="resource__description__tags">
                {% for tags in bookmark.tags %}<li class="resource__description__tags__item">{{tags}}</li>{% endfor%}
              </ul>
              {% endif %}
            </span>
          </li>
          {% endfor %}
        </ul>
      </section>

      <section>
        <ul class="list--inline">
          <li class="list__item"><a href="https://github.com/maban/bookmarkbot"><img src="./assets/logo.svg" width="100px" alt="bookmarkbot"></a></li>
        </ul>
      </section>

    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
  <script src="scripts/tags.js"></script>

</body>

</html>
